# Dependencies
node_modules/

# Playwright outputs
test-results/
playwright-report/
blob-report/

# Playwright local data
playwright/.cache/
playwright/.auth/
.playwright-mcp/


# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
